
@media (min-width:1200px){
    #menu{
        display: none;
    }
    .box{
        width: 11rem;
    }
}
@media (max-width:1024px){
    header{
        left: -125%;
    }
    body{
        padding: 0 2rem;
    }
    #menu{
        display: block;
    }
    .box{
        width: 9rem;
    }
}
@media (max-width:486px){
   
    section{
        width: 100%;
        font-size: 60%;
        padding: 2rem 0;
        padding-left: 0;
    }
    header{
        
        width: 100vw;
    }
   .info,.counter{
        width: 100%;
   }
   .about{
       font-size: 80%;
   }
   .heading{
       font-size: 1.4rem;
   }
   .box{
    width: 100%;
}
    
}
@media (max-width:939px){
    .row{
        flex-direction: column;
    }
    .info,.counter{
        width: 100%;
   }
    
}

