
@media (min-width:1200px){
    #menu{
        display: none;
    }
    .box{
        width: 12rem;
        margin: 2rem;
    }
    html{
        font-size: 100%;
    }
    .about{
        padding: 0 1rem;
    }
}
@media (min-width:1024px){
    #menu{
        display: none;
    }
    .box{
        width: 9rem;
    }
    header{
        left: 0% !important;
    }
}
@media (min-width:1024px) and (max-width:1125px){
    .box-e{
        flex:49%;
    }
}
@media (max-width:1024px){
    header{
        left: -125%;
    }
    body{
        padding: 0 2rem;
    }
    #menu{
        display: block;
    }
    .box{
        width: 9rem;
        margin: 1.5rem;
    }
}
@media (max-width:486px){
   
    section{
        width: 100%;
        font-size: 60%;
        padding: 2rem 0;
        margin: 0;
    }
    header{
        
        width: 100vw;
    }
    .toggle{
        left: -125% ;
    }
   .info,.counter{
        width: 100%;
   }
   .about{
       font-size: 80%;
   }
   .heading{
       font-size: 1.4rem;
   }
   .box{
    width: 100%;
    margin: 1rem 0;
    }
   
}

@media (max-width:745px){
    .box-e{
        flex: 100%;
    }
}
@media (max-width:939px){
    .row{
        flex-direction: column;
    }
    .info,.counter{
        width: 100%;
   }
   .box-e{
        flex:49%;
    }
}

