
@media (min-width:1024px){
    #menu{
        display: none;
    }
}
@media (max-width:1024px){
    header{
        left: -125%;
    }
    body{
        padding: 0 2rem;
    }
    #menu{
        display: block;
    }
    
}
@media (max-width:486px){
    section{
        padding: 0;
    }
    header{
        width: 100vw;
    }
   .info,.counter{
        width: 100%;
   }
   .about{
       font-size: 80%;
   }
   .heading{
       font-size: 1.4rem;
   }
    
}
@media (max-width:939px){
    .row{
        flex-direction: column;
    }
    .info,.counter{
        width: 100%;
   }
    
}

