:root{
    --yellow: #f9ca24;
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62,5%;
    overflow: hidden;
    overscroll-behavior-y: auto;
    overflow: auto;  
}
::selection{
    background-color: var(--yellow);
    color: #333;

}

html::-webkit-scrollbar{
    width: 1.4rem;
}
html::-webkit-scrollbar-track{
    background-color: #333;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--yellow);
}
body{
    padding-left: 25rem;
    background: #111;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    background-color: #1a1a1a;
}

.user img{
    margin-top: 2rem;
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.5rem solid var(--yellow);

}
header .user .name{
    text-align: center;
    font-size: 2rem;
    color: #fff;
}
header .user .post{
    text-align: center;
    font-size: 1.5rem;
    color: #eee;
}
header .navbar ul{
    margin-top: 1rem;
    list-style: none;
    padding: 1rem 3rem;
}
header .navbar ul li a:hover{
    background-color: var(--yellow);
}
header .navbar ul li a{
    display: block;
    padding: 0.5rem 6rem;
   margin-bottom: 0.8rem;
   background-color: #333;
   color: #fff;
   font-size: 1.5rem;
   border-radius: 5rem;
   text-align: center;
   cursor: pointer;
}
#menu:hover{
    color: var(--yellow);
}


#menu{
    position: fixed;
    z-index: 1000;
    top: 1rem;
    right: 1rem;
    color: #fff;
    padding: 1rem;
    background-color: #222;
    font-size: 2rem;
    cursor: pointer;
}
section{
    min-height: 100vh;
    padding: 1rem;
}
/* home */
.home{
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    justify-content: center;
}
.btn:hover{
    background-color: var(--yellow);
    cursor: pointer;
}
.btn{
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    margin-top: 1rem;
    font-weight: bold;
    background-color: #333;
    color: #fff;
}
.home span{
    color: var(--yellow);
    margin-bottom: 2rem;
    
}
.home h1{
    margin-bottom: 2rem;
    
}
/* about */
.about , .education,.portfolio,.contact{
    color: #fff;

}
.heading{
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    border-bottom: 0.1rem solid #eee;
    
}
.heading span{
    color: var(--yellow);
    padding-right: 1rem;
}
.info{
    flex: 1 1 45%;
    padding: 1rem;
    padding-left: 1rem;

}
.info span{
    color: var(--yellow);
}
.info h3{
    padding: 0.5rem 0;
}
.row{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.counter{
    flex:1 1 55%;
    width: 55%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
   
}
.box{
    background-color: #222;
    width: 7.5rem;
    padding: 2rem 0;
    text-align: center;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* education */
.container-box{
    padding-left: 2rem;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;

}
.box-e{
    flex:33.33%;
    border-left: 0.1rem solid var(--yellow);
    padding: 0 2rem;
    margin-bottom: 4rem;
    position: relative;
}
.box-e span{
    height: 1rem;
    padding:  0.3rem 1.5rem;
    background-color: #333;
    border-radius: 3rem;
}
.box-e h3{
    margin: 1rem 0;
}
.box-e i{
    position: absolute;
    left: -1.6rem;
    top: -1rem;
    padding: 1rem 0.9rem;
    border-radius: 50%;
    background-color: var(--yellow);
    text-align: center;
    
}
/* portfolio */
.box-p{
    flex:33.33%;
    padding: 0 2rem;
    
}
.box-p img{
    width: 100%;
    height: 80%;
    border-radius: 1rem;
}
/* contact */
.contact .row{
    justify-content: space-between;

}
.info-contact{
    font-size: 1.2rem;
    margin-top: 10%;
    flex: 1 50%;
}
.contact form {
    flex: 50%;
    padding-right: 1rem;
}


.info-contact i{
    color: var(--yellow);
    padding-right: 1rem;
    font-size: 1.2rem;

}
.info-contact span{
    color: #fff;
    font-size: 1.2rem;
}
.contact form .box{
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    text-align: left;
}
.contact form button{
    width: 100%;
    padding: 1rem;
    position: relative;
    left: 2%;
}
/* scroll top */
.top-cr{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
    display: none;
}
.top-cr img{
    width: 4rem;
}