:root{
    --yellow: #f9ca24;
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62,5%;
    overflow: hidden;
}
::selection{
    background-color: var(--yellow);
    color: #333;

}
html::-webkit-scrollbar{
    width: 1.4rem;
}
html::-webkit-scrollbar-track{
    background: #222;
}
html::-webkit-scrollbar-thumb{
    background: var(--yellow);
}
body{
    background: #111;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.5rem solid var(--yellow);

}